@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    font-family: 'Poppins', 'Englebert', sans-serif;
    font-size: 18px;
    color: aliceblue;
    overflow: hidden;
}

.header {
    width: 100%;
    min-height: 100vh;
    background: rgb(4,2,28);  
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}

nav img {
    max-width: 150px;
}

.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navLinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navLinks ul li a {
    color: aliceblue;
    text-decoration: none;
}

.booking {
    margin-left: 120px;
    width: 250px;
    height: 50px;
    background: none;
    color: aliceblue;
    border: 2px solid white;
    font-size: .9rem;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    
}


.navLinks ul li::after{
    content: '';
    margin: auto;
    background: #812afa;
    display: block;
    width: 0px;
    height: 2px;
    transition: 0.5s;
}

.navLinks ul li:hover::after{
    width: 100%;
}

.text-box {
    margin-top: 70px;
    padding-left: 300px;
    
}

.text-box h1{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.text-box h1 span {
    color: #812afa;
}

.text-box p {
    font-size: 16px;
    margin-bottom: 50px;
}

.call {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    min-width: 350px;
    border-style: none;
    border-width: 1px;
    border-color: rgba(129, 42, 250, 0);
    background-color: #5f71f6;
    background-image: linear-gradient(287deg, #812afa, #5f71f6 55%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out; 
}

nav .fa-solid {
    display: none;
}
















@media (max-width: 700px){

    nav {
        display: flex;
        padding: 6% 0px;
        justify-content: space-around;
        align-items: center;
    }
    

    nav img {
        max-width: 100px;
    }

    .navLinks ul li {
        display: block;
    }

    .navLinks {
        display: block;
        position: absolute;
        background: #812afa;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        cursor: pointer;
    }
    .booking {
        margin-left: 10px;
        width: 100px;
        height: 50px;
        background: none;
        color: aliceblue;
        border: 2px solid white;
        font-size: .9rem;
        padding: 12px 10px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;
        
    }
    .text-box {
        display: block;
        align-items: center;
        margin: auto;
        margin-top: 30px;
        padding: 6% 0px;
        
    }
    .text-box h1{
        outline: 3px solid red;
        width: 100%;
        font-size: 32px;
        padding: 10px;
        padding-left: 30px;
        line-height: 50px;
        margin-bottom: 20px;
        
    }

    .text-box h1 br {
        display: none;
    }

    .text-box p {
        font-size: 12px;
        margin-bottom: 50px; 
        padding: 10px 30px;
        
    }

    .text-box p br {
        display: none;
    }

    nav .fa-solid {
        display: block;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .navLinks ul{
        padding: 30px;
    }

    .call {
        margin-left: 35px;
    }


}
